# IDE & Editor folders
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
/logs/
*.log

# Build/temp files/folders
/temp/
/tmp/
temp.php

# System files
Thumbs.db
.directory

# Backup files
*.bak
*.backup
*~
